@model questionnairemodel


<h1>Your Responses:</h1>
<div class="card">
    <form asp-action="GetSuggetions" asp-controller="questionnairemodelController" method="post">
        <input asp-for="UserId" type="hidden"></input>
        <div class="col-sm-4">
            <label asp-for="Vomiting" class="form-control"></label>
            <input asp-for="Vomiting" class="form-check">
            <span asp-validation-for="Vomiting" class="text-danger"></span>
        </div>
        <div class="col-sm-4">
            <label asp-for="IsBadCramps" class="form-control"></label>
            <input asp-for="IsBadCramps" class="form-check">
            <span class="text-danger" asp-validation-for="IsBadCramps"></span>
        </div>
        <div class="col-sm-4">
            <label asp-for="HaveHeadache" class="form-control"></label>
            <input asp-for="HaveHeadache" class="form-check">
            <span asp-validation-for="HaveHeadache" class="form-check"></span>
        </div>
        <div class="col-sm-4">
            <label asp-for="RelieveByMeds" class="form-control"></label>
            <input asp-for="RelieveByMeds" class="form-check">
            <span asp-validation-for="RelieveByMeds" class="form-check"></span>
        </div>
        <div class="col-sm-4">
            <label asp-for="RelieveByHerbs" class="form-control"></label>
            <input asp-for="RelieveByHerbs" class="form-check">
            <span asp-validation-for="RelieveByHerbs" class="form-check"></span>
        </div>
        <div class="col-sm-4">
            <label asp-for="RelieveHeatingPod" class="form-control"></label>
            <input asp-for="IsBadCramps" class="form-check">
            <span asp-validation-for="IsBadCramps" class="form-check"></span>
        </div>
    </form>
</div>
