@section Css {
    <link href="~/css/frontend/toggle-button.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/frontend/submit-button.css" rel="stylesheet" asp-append-version="true" />
}
<div class="input">
    <span >This is toggle?</span>
    <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
</div>
<div class="cont">
    <button class="btn"><span>Submit</span><img src="https://i.cloudup.com/2ZAX3hVsBE-3000x3000.png" height="12" width="12"></button>
</div>