@model IList<Suggetion>;

@{
    var i = 0;
}
@section Css {
    <link href="~/css/frontend/suggetionresponse.css" rel="stylesheet" />
}


<section class="articles">

    @foreach (var item in Model)
    {
        if (item.Answer != null)
        {
            <article>
                <div class="article-wrapper">
                    <figure>
                        <img src="https://i.ytimg.com/vi/6LhWBCL80Ro/maxresdefault.jpg" alt="" />
                    </figure>
                    <div class="article-body">
                        <h2>@item.Label</h2>
                        <p >
                            @item.Answer
                        </p>
                    </div>
                </div>
            </article>
        }
        i++;
    }
</section>